
.candidates-container{
	text-align: center;

	.candidate{
		display: inline-block;


		.candidate-name{
			width: 150px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			z-index: 99;
			border-width: 1px;
			border-color: black;
			border-style: solid;
			visibility: hidden;
			line-height: 1;
			padding: 5px;
			font-size: 12px;
		}

		img{
			width: 150px;
			margin:15px;
		}

		&:hover{
			.candidate-name{
				visibility: visible;
			}


		}
	}

	.selected{
		@for $i from 1 to 5 {
			&:nth-child(4n + #{$i}){
				img{
					box-shadow: if($i == 3 or $i == 2 , 10px, -10px) if($i > 2 , 10px, -10px)   blue;
				}
			}
		}		
	}
}

.small-container{
	.candidate{
		position: relative;
		margin: 0 auto;
		.candidate-name{
			width: 100%;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.5);;
			border-width: 0;
			height: 100%;
			vertical-align: center;
			padding-top: 20%;
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

		}		

		img{
			width: auto;
			max-width: 70px;
			margin: 5px;
		}
	}

	.selected{
		@for $i from 1 to 5 {
			&:nth-child(4n + #{$i}){
				img{
					box-shadow: if($i == 3 or $i == 2 , 5px, -5px) if($i > 2 , 5px, -5px)   blue;
				}
			}
		}		
	}


}