
.candidates-container{

	.candidate{
		img{
			width: 150px;
			margin: 20px;
		}

		@for $i from 1 to 5 {
			&:nth-child(4n + #{$i}){
				img{
					box-shadow: if($i == 3 or $i == 2 , 10px, -10px) if($i > 2 , 10px, -10px)   blue;
				}
			}
		}
	}


}