<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>

<div class="candidates-container">
	<div *ngFor="let candidate of candidates" class="candidate" 
		[class.selected]="selected.indexOf(candidate.id) != -1" 
		(click) = "clickCandidate(candidate.id)">
		<div class="candidate-name">{{candidate.name}}</div>
		<img src="assets/candidates_pics/{{candidate.id}}_j.jpg"/>
	</div>
</div>