
.candidates-container{
	text-align: center;

	.candidate{
		display: inline-block;


		.candidate-name{
			width: 150px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			z-index: 99;
			border-width: 1px;
			border-color: black;
			border-style: solid;
			visibility: hidden;
			line-height: 1;
			padding: 5px;
			font-size: 12px;
		}

		img{
			width: 150px;
			margin:15px;
		}

		&:hover{
			.candidate-name{
				visibility: visible;
			}


		}
	}
	&:not(.small-container){
		.selected{
			@for $i from 1 to 5 {
				&:nth-child(4n + #{$i}){
					img{
						box-shadow: if($i == 3 or $i == 2 , 10px, -10px) if($i > 2 , 10px, -10px);
					}
				}
			}		
		}
	}
}

.small-container{
	.candidate{
		position: relative;
		margin: 0 auto;
		.candidate-name{
			width: auto;
			position: absolute;
			background-color: white;
			vertical-align: center;
			top:0;

		}		

		img{
			width: 70px;
			margin: 5px;
			border-color: blue;
			

		}
	}

	.selected{
		img{
			border-top: 5px;
			border-left: 5px;
			border-right: 5px;
			border-bottom: 0px;
			border-style: solid;
		}	
	}


}